<h2>Update Employee</h2>

<%= form_for(:employee, :url => {:action => 'update', :id => @employee.id }) do |f| %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <td><%= f.text_field :name, :value => @employee.name %></td>
  </tr>
  <tr>
    <th>Surname</th>
    <td><%= f.text_field :surname, :value => @employee.surname %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= f.text_field :experience, :value => @employee.experience %></td>
  </tr>
</table>


<%= submit_tag("Update Employee") %>

<% end %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
